.container {
  display: grid;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  justify-self: center;
}

.documents {
  display: grid;
  position: relative;
  border-radius: 3rem;
  padding: 3em 6em 1em 2em;
  background-color: var(--color-card-background);
  height: 80vh;
  overflow: scroll;
}

.documents::-webkit-scrollbar {
  display: none;
}

.link {
  position: sticky;
  bottom: 1em;
  margin-right: -4em;
  justify-self: end;
}
