@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Quicksand:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* COLORS:  */
  --color-background: #dceeed;
  --color-primary: #2ec4b6;
  --color-secondary: #ff9f1c;
  --color-tercary: #c4c4c4;
  --color-text: #644f4f;

  /* FONT */
  --font-family: arial, helvetica, sans-serif;
  --font-headline: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-background);
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline);
}
